#board-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
    margin: 100px auto 15px;
}

#board {
    list-style: none;
    width: 85%;
    margin: 0 auto;
    padding-inline-start: 0px;
}

.board-list {
    display: block;
}

.board-inner {
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.board-inner li {
    border: 1px solid #aaa;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    height: 60px;
    box-sizing: border-box;
}

.board-inner li.postkey {
    width: 10%;
}

.board-inner li.title {
    width: 55%;
}

.board-inner li.name {
    width: 10%;
}

.board-inner li.posttime {
    width: 25%;
}

#board-detail {
    width: 85%;
    margin: 100px auto 0;
    border-spacing: 0;
}

#board-detail td {
    border: 1px solid #aaa;
    text-align: center;
    padding: 20px 0 20px;
    box-sizing: border-box;
}

#board-detail td#title,
#board-detail td#description {
    text-align: unset;
    padding-left: 10px;
}

#board-detail td#postkey {
    width: 5%;
}

#board-detail td#title {
    font-weight: bold;
    width: 60%;
}

#board-detail td#name {
    width: 10%;
}

#board-detail td#posttime {
    width: 25%;
}

#board-detail td#description {
    padding: 50px 0 50px 10px;
}

#btn-wrap {
    width: 85%;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#btn-hidden {
    display: none;
}

#pages {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#pages a {
    margin-right: 15px;
    font-size: 20px;
}

#board-num {
    color: #777;
}

#btn-post {
    padding: 3px 7px;
    display: none;
}
